<div class="task" [ngClass]="{ reminder: product.bid }" (dblclick)="onToggle(product)">
    <div class="headshot">
        <img src="{{ product.image }}" alt="{{ product.name }}"/>
    </div>
    <div class="detailshot">
        <h3><a routerLink="show-bids/{{ product.name }}" (click)="onSelect(product)">{{ product.name }}</a><fa-icon [icon]="faTimes" [ngStyle]="{'color': 'red'}" (click)="onDelete(product)"></fa-icon></h3>
        <p>Category: {{ product.category }}</p>
        <p>Starting Bid: ${{ product.price }}</p>
        <p>End Bid Date: {{ product.endDate.substring(0,10) }}</p>
        <p>Bid(s): {{ product.bid }}</p>
    </div>

</div>